/* Tổng thể */
body {
    font-family: Arial, sans-serif;
    background: #eef2f7;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Header */
header {
    background: linear-gradient(90deg, #005fcc, #0099ff);
    color: white;
    padding: 40px 10px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 0 3px 12px rgba(0,0,0,0.25);
}

header h1 {
    font-size: 38px;
    margin: 0;
    letter-spacing: 2px;
    font-weight: bold;
}

header h2 {
    font-size: 22px;
    margin-top: 8px;
    font-weight: 300;
    color: white;
}

/* Main */
main {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

/* Section */
section {
    background: white;
    padding: 25px;
    margin-bottom: 30px;
    border-radius: 14px;
    box-shadow: 0 3px 15px rgba(0,0,0,0.1);

    text-align: center; /* CHỮ GIỮA */
}

h2 {
    color: #005fcc;
    margin-top: 0;
}

/* Ảnh chính */
.main-img {
    width: 100%;
    border-radius: 14px;
