/* Tổng thể */
body {
    font-family: Arial, sans-serif;
    background: #eef2f7;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Header */
header {
    background: linear-gradient(90deg, #005fcc, #0099ff);
    color: white;
    padding: 40px 10px;
    text-align: center;
    box-shadow: 0 3px 12px rgba(0,0,0,0.25);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Main */
main {
    max-width: 900px;
    margin: auto;
    padding: 25px;
}

/* PHẦN THẺ PROFILE */
.profile-card {
    background: white;
    padding: 25px;
    border-radius: 16px;
    text-align: center;
    box-shadow: 0 3px 15px rgba(0,0,0,0.1);
}

.avatar {
    width: 50%;
    border-radius: 16px;
    margin-bottom: 15px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.15);
}

.subinfo {
    color: #555;
    font-size: 15px;
    margin-top: -5px;
}

.intro-text {
    margin-top: 10px;
    font-size: 16px;
}

/* Các Section khác */
section {
    background: white;
    padding: 25px;
    margin-top: 30px;
    border-radius: 16px;
    text-align: center;
    box-shadow: 0 3px 15px rgba(0,0,0,0.1);
}

h2 {
    color: #005fcc;
    margin-top: 0;
}

/* thành tựu */
ul {
    list-style: none;
    padding: 0;
    font-size: 16px;
}

ul li {
    padding: 6px 0;
}

/* Hình ảnh hàng ngang */
.img-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 15px;
}

.img-row img {
    width: 45%;
    border-radius: 14px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.1);
}

/* Link */
a {
    color: #005fcc;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    text-align: center;
    padding: 18px;
    background: #dfe8f1;
    color: #555;
    margin-top: 20px;
    font-size: 14px;
}
