body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f0f2f5;
}

header {
    background: #004aad;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

h2 {
    color: #004aad;
}

img {
    width: 100%;
    max-width: 450px;
    display: block;
    margin: 15px auto;
    border-radius: 10px;
}

footer {
    text-align: center;
    background: #ddd;
    padding: 10px;
    margin-top: 30px;
}
